

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

.card {
  display: none;
}

.robotCard {
  border: 3px solid black;
  width: 240px;
  height: 300px;
}
.p1 {
  background-color: green;
}
.p2 {
  background-color: red;
}
